<!-- start: 403 -->
<div class="error-full-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 page-error animated shake">
				<div class="error-number text-azure">
					403
				</div>
				<div class="error-details col-sm-6 col-sm-offset-3">
					<h3>权限不足</h3>
					<p>
						您没有权限访问此页面或登录已超时
						<br>
						如有疑问，请联系管理员。
						<br>
						<a href="index.html" class="btn btn-return">
							返回
						</a>
						<a href="login.html" class="btn btn-red btn-return">
							重新登录
						</a>
						<br>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: 403 -->