.mbsc-mobiscroll .dwwol{border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.dw-li .dw-i{color:#666;}
.dw-sel .dw-i{color:#000;}
.mbsc-mobiscroll .dwfl{padding:0;}
.mbsc-mobiscroll .dwbc{padding:.5em .5em 0;}
.mbsc-mobiscroll .dwb-c{float:left;}
.mbsc-mobiscroll .dwb{padding:0; width:64px; height:2em; line-height:2em; text-align:center; -webkit-border-radius:3px; border-radius:3px;}
.mbsc-mobiscroll .dwb0{color:#ff8202; border:1px solid #ff8202;}
.mbsc-mobiscroll .dwb1{color:#9a9a9a; border:1px solid #9a9a9a;}
