/*头像*/
.pdiBottom_headingImg{
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
.pdiBottom_chatRecordCont{
	display: inline-block;
	border-radius: 5px;
	position: relative;
	max-width: 380px;
	padding: 8px;
}



.pdiBox{
	min-width: 800px;
	max-width: 1200px;
	/*background-color:#fff ;*/
	position: relative;
}
.pdiTop{
	/*background-color: #e6e6e6;*/
}
.pdiBottom{
	/*border: 1px solid;*/
}
.pdiTop_img{
	width: 60px;
	height: 60px;
	border: 2px solid #a6d2fd;
	margin-left: 20px;
}
.pdiBottom_chatlist{
	min-width: 240px;
	height: 600px;
	float: left;
	width: 30%;
}
.pdiBottom_chatcont{
	min-width: 560px;
	background: #F6F6F6;
	float: left;
	width: 70%;
	height: 600px;
}
.pdiBottom_chatlistTop{
	border: 1px solid;
	border-right: none;
}
.rongcloud-container .pdiBottom_chatlistBottom{
	line-height: 40px;
	position: absolute;
	padding-left: 8px;
	bottom: 0;
	left: 0;
	border-top: 1px dotted;
	width: 100%;
}
.pdiBottom_chatlistTitle{
	position: relative;
	background-color: #ffcc00;
	font-size: 16px;
	border-bottom: 1px dotted;
}
.pdiBottom_searchBtn{
	position: absolute;
	color: #fff;
	padding: 10px;
	font-size: 20px!important;
	cursor: pointer;
	line-height:48px;
	left: 10px;
}
.pdiBottom_searchBtn:before{
	font-family: 'Glyphicons Halflings'!important;
}
.pdiBottom_searchCont{
	background-color: #f0f0f0;
	padding: 10px;
	position: absolute;
	top: 100%;
	z-index: 1;
	width: 100%;
	border-bottom: 1px solid;
}
.pdiBottom_chatlistTitleName{
	text-align: center;
	color: #fff;
	padding: 10px;
}
.pdiBottom_chatlistCont{
	overflow: auto;
	height: 520px;
}
.pdiBottom_chatlistCont .active{
	background-color: #ffffcc;
}
.activeType1{
	background-color: #FFFFCC;
}
.rongcloud-container .pdiBottom_chatlistContBox{
	padding: 10px;
	border-bottom: 1px dotted;
	color: #000;
}
.pdiBottom_chatlistContBox:hover{
	background-color: #ffffcc;
}
.pdiBottom_chatlistContBox div{
	position: relative;
	max-height: 36px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
}
.pdi_circle{
	background-color: red;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
}
.rongcloud-container .pdiBottom_chatlistCont_name{
	margin: 0 5px 0 20px;
}
.pdiBottom_chatlistCont_tel,.pdiBottom_chatlistCont_tag{
	margin: 0 5px;
}
.pdiBottom_chatlistContBox2{
	margin: 10px 0;
}
.pdiBottom_chatcontTop{
	height: 438px;
	border: 1px solid;
	position: relative;
	background-color: #fff;
	overflow: auto;
}
.pdiBottom_chatcontTopFile{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	color: #000;
	padding: 4px 6px!important;
	border-radius: 6px;
}
.pdiBottom_chatRecord{
	width: 92%;
	margin: 0 auto;
}
.pdiBottom_chatRecord div{
	margin: 10px 0;
}
/*时间*/
.pdiBottom_chatRecord_time{
	text-align: center;
}
.pdiBottom_chatRecord_time span{
	display: inline-block;
	background-color: #f2f2f2;
	border-radius:5px ;
	padding: 2px 5px;
}

/*聊天记录*/
.pdiBottom_chatRecord_history{
	text-align: center;
}
.pdiBottom_chatRecord_history span{
	color: #009bdc;
	display: inline-block;
	border-radius:5px ;
	padding: 2px 5px;
	cursor: pointer;
}


.pdiBottom_chatcontBottom{
	height: 160px;
	border: 1px solid;
	border-top: none;
	padding: 10px;
	overflow-y: auto;
	position: relative;
	background-color: #fff;
}
.pdiBottom_chatcontBottomBtn button{
	width: 80px;
	line-height: 26px;
	position: relative;
	color: #000;
}
.pdiBottom_chatcontBottomValue{
	width: 100%;
	height: 110px;
	resize: none;
	border: none;
	outline: none;
	background-color: #fff;
}
.pdiBottom_chatcontBottomBtn{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.pdiBottom_uploadImg{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
}
.pdiBottom_chatRecordContImg{
	max-width: 300px;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
/*病人内容*/
.pdiBottom_patientBox div{
	background-color: #efefef;
	color: #000;
}
.pdiBottom_patientBox img,.pdiBottom_patientBox div{
	float: left;
}
.pdiBottom_patientBox .pdiBottom_chatRecordCont{
	margin-left: 40px;
	padding: 6px 6px 5px;
}
.pdiBottom_patientBox .pdiBottom_chatRecordCont:after{
	content: "";
	position: absolute;
	top: 5px;
	right: 100%;
	width: 0;
	border-top: 5px solid transparent;
	border-right: 16px solid #efefef;
	border-bottom: 5px solid transparent;
}
/*医生内容*/
.pdiBottom_doctorBox div{
	background-color: #2683f5;
	color: #fff;
}
.pdiBottom_doctorBox img,.pdiBottom_doctorBox div{
	float: right;
}
.pdiBottom_doctorBox .pdiBottom_chatRecordCont{
	margin-right: 40px;
	padding: 6px 6px 5px;
}
.pdiBottom_doctorBox .pdiBottom_chatRecordCont:after{
	content: "";
	position: absolute;
	top: 5px;
	left: 100%;
	width: 0;
	border-top: 5px solid transparent;
	border-left: 16px solid #2683f5;
	border-bottom: 5px solid transparent;
}
.pdiBottom_searchCont label,.pdiBottom_searchCont button{
	color: #000;
	font-size: 14px;
}
.pdiBottom_searchContBtnBox{
	text-align: right;
	margin-top: 10px;
}
.pdiBottom_searchCont2{
	margin-left: 1em;
}

.expireStatus{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #b5acac;
	opacity: 0.5;
}
