<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div ng-controller="freqUsedSickCategoryCtrl" class="col-md-12">
			<button ng-click="edit()" type="button" class="btn btn-wide btn-primary" style="min-width: 30px;">
				新增 <i class="fa fa-plus"></i>
			</button>
			<button ng-click="update()" type="button" class="btn btn-wide btn-warning" style="min-width: 30px;">
				编辑 <i class="fa fa-edit"></i>
			</button>
			<button ng-click="deleteAll()" type="button" class="btn btn-wide btn-danger" style="min-width: 30px;">
				删除 <i class="fa fa-trash"></i>
			</button>
			<p style="margin-top: 25px;">
				<strong>总记录数:</strong> {{tableParams.total()}}
			</p>
			<div class="table-responsive">
				<table ng-table="tableParams" class="table table-hover">
					<thead>
						<tr>
							<th style="text-align: left; width: 6%;">
								<div class="checkbox clip-check check-primary checkbox-inline">
									<input id="selectAllCheckbox" type="checkbox" ng-click="selectAll()" /> <label for="selectAllCheckbox"
										style="vertical-align: middle;"></label>
								</div>
							</th>
							<th>常见疾病</th>
							<th>排序序号</th>
							<th>操作</th>
						</tr>
					</thead>
					<tr ng-repeat="obj in $data" ng-class-odd="'odd'" ng-class-even="'even'">
						<td>
							<div class="checkbox clip-check check-primary checkbox-inline">
								<input id="checkbox{{obj.jdSickCategaryId}}" type="checkbox" ng-model="obj.selected" ng-click="changeSelection($index)" /> <label
									for="checkbox{{obj.jdSickCategaryId}}" style="vertical-align: middle;"></label>
							</div>
						</td>
						<td class="center">{{obj.sickCategoryName}}</td>
						<td class="center">{{obj.seq}}</td>
						<td class="center">
							<div class="visible-md visible-lg hidden-sm hidden-xs">
								<a href="#" ng-click="edit(obj)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="编辑"><i
									class="fa fa-edit"></i></a> <a href="#" ng-click="deleteItem(obj.jdSickCategaryId)" class="btn btn-transparent btn-xs tooltips"
									tooltip-placement="top" tooltip="删除"><i class="fa fa-trash fa fa-white"></i></a>
							</div>
						</td>
					</tr>
				</table>
				<span><b>*说明:排序序号,用于患者选择疾病找医生时对疾病的排序</b></span>
				<script type="text/ng-template" id="editFreqUsedSickCategory.html">
					<div class="modal-header">
						<h5 class="modal-title"><b>疾病大类信息</b></h5>
					</div>
					<div class="modal-body">
						<div class="panel-body">
						<form role="form" class="form-horizontal">
							<div class="form-group" >
								<label class="col-sm-3 control-label" >
									疾病大类
								</label>
								<div class="col-sm-9">
									<ui-select ng-if="!obj.sickCategoryName" multiple ng-model="obj.jdSickCategaryId" theme="bootstrap" ng-disabled="disabled" on-select="sickCategorysSelect()">
										<ui-select-match >
											{{$item.name}}
										</ui-select-match>
										<ui-select-choices repeat="item.value as item in sickCategoryList | propsFilter: {name: $select.search} ">
											<small><span ng-bind-html="''+item.name | highlight: $select.search"></span> </small>
										</ui-select-choices>
									</ui-select>
									<label ng-if="obj.sickCategoryName" style="margin-top: 7px;">{{obj.sickCategoryName}}</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="seq">
									排序序号
								</label>
								<div class="col-sm-9">
									<input type="text" id="seq" class="form-control" ng-model="obj.seq" >
								</div>
							</div>
						</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="cancel($event)">取消</button>
						<button class="btn btn-primary" ng-click="ok($event)">确定</button>
					</div>
				</script>
			</div>
		</div>
	</div>
</div>