<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div ng-controller="JdCouponTransactionCtrl" class="col-md-12">
            <button ng-click="search()" type="button" class="btn btn-wide btn-success" style="min-width: 30px;">
                查询 <i class="fa fa-search"></i>
            </button>
            <p style="margin-top:25px;">
                <strong>总记录数:</strong> {{tableParams.total()}}
            </p>

            <div class="table-responsive" style="margin-top:25px;">
                <table ng-table="tableParams" class="table table-hover">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>优惠券编码</th>
                        <th>用户名</th>
                        <th>用户电话</th>
                        <th>现金券金额</th>
                        <th>支付渠道</th>
                        <th>时间</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="jdCouponTransaction in $data" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td class="center">{{jdCouponTransaction.orderNumber}}</td>
                        <td class="center">{{jdCouponTransaction.couponCode}}</td>
                        <td class="center">{{jdCouponTransaction.name}}</td>
                        <td class="center">{{jdCouponTransaction.phoneNumber}}</td>
                        <td class="center">{{jdCouponTransaction.value}}</td>
                        <td class="center">{{displayPaymentChannelName(jdCouponTransaction.paymentChannel)}}</td>
                        <td class="center">{{jdCouponTransaction.usedTime}}</td>
                        <td class="center">{{jdCouponTransaction.description}}</td>
                    </tr>
                </table>

                <script type="text/ng-template" id="searchJdCouponTransaction.html">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>查询条件</b></h5>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="orderNumber">
                                        订单号
                                    </label>

                                    <div class="col-sm-8">
                                        <input type="text" id="orderNumber" class="form-control"
                                               ng-model="searchInfos.orderNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="name">
                                        用户名
                                    </label>

                                    <div class="col-sm-8">
                                        <input type="text" id="name" class="form-control"
                                               ng-model="searchInfos.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="phoneNumber">
                                        用户电话
                                    </label>

                                    <div class="col-sm-8">
                                        <input type="text" id="phoneNumber" class="form-control"
                                               ng-model="searchInfos.phoneNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="usedTimeStart">
                                        使用时间段开始
                                    </label>

                                    <div class="col-sm-8">
                                        <input type="text" id="usedTimeStart" class="form-control"
                                               ng-model="searchInfos.usedTimeStart"
                                               onClick="WdatePicker({manDate:'#F{$dp.$D(\'usedTimeEnd\')||\'%y-%M-%d %H:%m\'}',dateFmt:'yyyy-MM-dd HH:mm',readOnly:true})"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="usedTimeEnd">
                                        使用时间段结束
                                    </label>

                                    <div class="col-sm-8">
                                        <input type="text" id="usedTimeEnd" class="form-control"
                                               ng-model="searchInfos.usedTimeEnd"
                                               onClick="WdatePicker({minDate:'#F{$dp.$D(\'usedTimeStart\')||\'%y-%M-%d %H:%m\'}',dateFmt:'yyyy-MM-dd HH:mm',readOnly:true})"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="clear()">清空条件</button>
                        <button class="btn btn-primary" ng-click="cancel($event)">取消</button>
                        <button class="btn btn-primary" ng-click="ok($event)">确定</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>