<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div ng-controller="JdHospitalCtrl" class="col-md-12">
        	<button ng-click="edit()" type="button" class="btn btn-wide btn-primary" style="min-width: 30px;">
				新增 <i class="fa fa-plus"></i>
			</button>
			<button ng-click="update()" type="button" class="btn btn-wide btn-warning" style="min-width: 30px;">
				编辑 <i class="fa fa-edit"></i>
			</button>
			<button ng-click="deleteAll()" type="button" class="btn btn-wide btn-danger" style="min-width: 30px;">
				删除 <i class="fa fa-trash"></i>
			</button>
			<button ng-click="search()" type="button" class="btn btn-wide btn-success" style="min-width: 30px;">
				查询 <i class="fa fa-search"></i>
			</button>
			<p style="margin-top:25px;">
				<strong>总记录数:</strong> {{tableParams.total()}}
			</p>
            <div class="table-responsive" style="margin-top:25px;">
                <table ng-table="tableParams" class="table table-hover">
                	<thead>
						<tr>
							<th style="text-align:left;width:1%;">
								<div class="checkbox clip-check check-primary checkbox-inline">
									<input id="selectAllCheckbox" type="checkbox" ng-click="selectAll()"/>
									<label for="selectAllCheckbox" style="vertical-align: middle;"></label>
								</div>
							</th>
							<th width="7%">地区</th>
							<th width="10%">市辖区</th>
							<th width="25%">名称</th>
							<th width="40%">地址</th>
							<th width="8%">是否显示</th>
							<th width="8%">第三方接口合作医院</th>
							<th width="9%">操作</th>
						</tr>
					</thead>
                    <tr ng-repeat="jdHospital in $data" ng-class-odd="'odd'" ng-class-even="'even'">
                    	<td>
                    		<div class="checkbox clip-check check-primary checkbox-inline">
	                    		<input id="checkbox{{jdHospital.uuid}}" type="checkbox" ng-model="jdHospital.selected" ng-click="changeSelection($index)"/>
	                    		<label for="checkbox{{hospitalId}}" style="vertical-align: middle;"></label>
                    		</div>
                    	</td>
                    	<td class="center">{{displayDistrictName(jdHospital.jdDistrictId)}}</td>
						<td class="center">{{dispalyDistrictAreaName(jdHospital.jdDistrictAreaId)}}</td>
						<td class="center">{{jdHospital.name}}</td>
						<td class="center">{{jdHospital.address}}</td>
						<td class="center">{{jdHospital.isShow?"是":"否"}}</td>
						<td class="center">{{jdHospital.openToParner?"是":"否"}}</td>
                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" ng-click="edit(jdHospital)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="编辑"><i
                                        class="fa fa-edit"></i></a>
                                <a href="#" ng-click="deleteItem(jdHospital.uuid)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="删除"><i
                                        class="fa fa-trash fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group" dropdown is-open="status.isopen">
                                    <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                        <li>
                                            <a href="#" ng-click="edit(jdHospital)">编辑</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="deleteItem(jdHospital.uuid)">删除</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
				<script type="text/ng-template" id="searchJdHospital.html">
					<div class="modal-header">
						<h5 class="modal-title"><b>查询条件</b></h5>
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form role="form" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label" for="districtId">
										地区
									</label>
									<div class="col-sm-8">
										<select id="districtId" class="col-sm-12" ng-model="searchInfos.districtId"
												ng-change="changeDistrictAreas(searchInfos.districtId)"
												ng-options="jdDistrict.uuid as jdDistrict.name for jdDistrict in jdDistricts">
											<option value="">全部</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="districtAreaId">
										市辖区
									</label>
									<div class="col-sm-8">
										<select id="districtAreaId" class="col-sm-12" ng-model="searchInfos.districtAreaId"
												ng-options="jdDistrictArea.uuid as jdDistrictArea.name for jdDistrictArea in jdDistrictAreas">
											<option value="">全部</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="s_name">
										名称
									</label>
									<div class="col-sm-8">
										<input type="text" id="s_name" class="form-control" ng-model="searchInfos.name" maxlength="21">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="clear()">清空条件</button>
						<button class="btn btn-primary" ng-click="cancel($event)">取消</button>
						<button class="btn btn-primary" ng-click="ok($event)">确定</button>
					</div>
				</script>
                <script type="text/ng-template" id="editJdHospital.html">
					<div class="modal-header">
						<h5 class="modal-title"><b>医院信息</b></h5>
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form role="form" class="form-horizontal">
								<div class="edit-doc-image" flow-init="{singleFile:true,target:uploadUrl,testChunks:false}"
									 flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
									 flow-file-success="uploadSuccess($file, $message)">
									<div class="user-image doctor-image">
										<div class="thumbnail">
											<img src="assets/images/noPicture.jpg" alt="" ng-if="!obj.flow.files.length && noImage">
											<img ng-src="{{jdHospitalInfo.logoUrl}}" alt="" ng-if="!obj.flow.files.length && !noImage">
											<img flow-img="obj.flow.files[0]" ng-if="obj.flow.files.length">
										</div>
										<div class="user-image-buttons" ng-if="obj.flow.files.length">
											<span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
											<span class="btn btn-danger" ng-click="obj.flow.cancel()"> <i class="fa fa-times"></i> </span>
										</div>
										<div class="user-image-buttons" ng-if="!obj.flow.files.length">
											<span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
											<span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="jdDistrictId">
										地区
									</label>
									<div class="col-sm-8">
										<select id="jdDistrictId" class="col-sm-12" ng-model="jdHospitalInfo.jdDistrictId"
												ng-change="changeDistrictAreas(jdHospitalInfo.jdDistrictId)"
												ng-options="jdDistrict.uuid as jdDistrict.name for jdDistrict in jdDistricts">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="jdDistrictAreaId">
										市辖区
									</label>
									<div class="col-sm-8">
										<select id="jdDistrictAreaId" class="col-sm-12" ng-model="jdHospitalInfo.jdDistrictAreaId"
												ng-options="jdDistrictArea.uuid as jdDistrictArea.name for jdDistrictArea in jdDistrictAreas">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="name">
										名称
									</label>
									<div class="col-sm-8">
										<input type="text" id="name" class="form-control" ng-model="jdHospitalInfo.name">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="seq">
										排序序号
									</label>
									<div class="col-sm-8">
										<input type="text" id="seq" class="form-control" ng-model="jdHospitalInfo.seq" maxlength="5">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" style="padding-top:13px;">
										是否显示
									</label>
									<div class="col-sm-8">
										<div class="radio clip-radio radio-primary radio-inline">
											<input type="radio" id="yes" ng-model="jdHospitalInfo.isShow" value="true">
											<label for="yes">是</label>
										</div>
										<div class="radio clip-radio radio-primary radio-inline">
											<input type="radio" id="no" ng-model="jdHospitalInfo.isShow" value="false">
											<label for="no">否</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" style="padding-top:13px;">
										第三方合作医院
									</label>
									<div class="col-sm-8">
										<div class="radio clip-radio radio-primary radio-inline">
											<input type="radio" id="openToParner_yes" ng-model="jdHospitalInfo.openToParner" value="true">
											<label for="openToParner_yes">是</label>
										</div>
										<div class="radio clip-radio radio-primary radio-inline">
											<input type="radio" id="openToParner_no" ng-model="jdHospitalInfo.openToParner" value="false">
											<label for="openToParner_no">否</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="address">
										地址
									</label>
									<div class="col-sm-8">
										<textarea id="address" ng-model="jdHospitalInfo.address" class="form-control"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="cancel($event)">取消</button>
						<button class="btn btn-primary" ng-click="ok($event)">确定</button>
					</div>
				</script>
            </div>
        </div>
    </div>
</div>