<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div ng-controller="JdOrderPlusCtrl" class="col-md-12">
			<button ng-click="search()" type="button" class="btn btn-wide btn-success" style="min-width: 30px;">
				查询 <i class="fa fa-search"></i>
			</button>
			<button ng-click="export()" type="button" class="btn btn-wide btn-primary" style="min-width: 30px;">
				导出Excel <i class="fa fa-download"></i>
			</button>
			<p style="margin-top:25px;">
				<strong>总记录数:</strong> {{tableParams.total()}}
			</p>
            <div class="table-responsive">
                <table ng-table="tableParams" class="table table-hover">
                	<thead>
						<tr>
							<th width="8%">下单用户</th>
							<th width="8%">用户电话</th>
							<th width="8%">用户城市</th>
							<th width="8%">患者姓名</th>
							<th width="8%">患者电话</th>
							<th width="8%">身份证</th>
							<th width="8%">预约医生</th>
							<th width="10%">预约时间</th>
							<th width="10%">病情描述</th>
							<th width="10%">下单时间</th>
							<th width="10%">订单来源</th>
							<th width="8%">状态</th>
							<th width="8%">是否反还押金</th>
							<th width="10%">跟进时间</th>
							<th width="8%">备注</th>
							<th width="5%">操作</th>
						</tr>
					</thead>
                    <tr ng-repeat="jdOrderPlus in $data" ng-class-odd="'odd'" ng-class-even="'even'">
                    	<td class="center">{{jdOrderPlus.patientName}}</td>
                    	<td class="center">{{jdOrderPlus.patientPhone}}</td>
                    	<td class="center">{{jdOrderPlus.patientLocation}}</td>
                    	<td class="center">{{jdOrderPlus.name}}</td>
						<td class="center">{{jdOrderPlus.phoneNumber}}</td>
						<td class="center">{{jdOrderPlus.idCard}}</td>
						<td class="center">{{jdOrderPlus.doctorName}}</td>
						<td class="center">{{jdOrderPlus.orderDate}}</td>
						<td class="center">{{jdOrderPlus.sickDescription}}</td>
						<td class="center">{{jdOrderPlus.createDate}}</td>
						<td class="center">{{showOrderSourceType(jdOrderPlus.source)}}</td>
						<td class="center">{{showOrderPlusStatus(jdOrderPlus.status)}}</td>
						<td class="center">
							<span ng-if="jdOrderPlus.refund ==='Y'">
								是
							</span>
							<span ng-if="jdOrderPlus.refund ==='N' || jdOrderPlus.refund ===''">
								否
							</span>
						</td>
						<td class="center">{{jdOrderPlus.followDate}}</td>
						<td class="center">{{jdOrderPlus.remark}}</td>
                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" ng-click="edit(jdOrderPlus)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="编辑"><i
                                        class="fa fa-edit"></i></a>
                            </div>
                            <div class="visible-xs visaoible-sm hidden-md hidden-lg">
                                <div class="btn-group" dropdown is-open="status.isopen">
                                    <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                        <li>
                                            <a href="#" ng-click="edit(jdOrderPlus)">编辑</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <script type="text/ng-template" id="searchJdOrderPlus.html">
					<div class="modal-header">
						<h5 class="modal-title"><b>查询条件</b></h5>
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form role="form" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label" for="s_name">
										姓名
									</label>
									<div class="col-sm-8">
										<input type="text" id="s_name" class="form-control" ng-model="searchInfos.name">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="s_phoneNumber">
										手机号
									</label>
									<div class="col-sm-8">
										<input type="text" id="s_phoneNumber" class="form-control" ng-model="searchInfos.phoneNumber">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="s_idCard">
										身份证
									</label>
									<div class="col-sm-8">
										<input type="text" id="s_idCard" class="form-control" ng-model="searchInfos.idCard">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="orderPlus_status">
										状态
									</label>
									<div class="col-sm-8">
										<select id="orderPlus_status" class="form-control" ng-model="searchInfos.status"
												ng-options="status.value as status.name for status in orderPlusStatus">
											<option value="">全部</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="orderPlus_source">
										订单来源
									</label>
									<div class="col-sm-8">
										<select id="orderPlus_source" class="form-control" ng-model="searchInfos.source"
												ng-options="source.value as source.name for source in orderSourceType">
											<option value="">全部</option>
										</select>
									</div>
								</div>
								<!--/-->

								<div class="form-group">
									<label class="col-sm-3 control-label" for="oppointmentTimeStart">
										预约时间段
									</label>
									<div class="col-sm-9">
										<input type="text" id="oppointmentTimeStart" style="width: 130px;" ng-model="searchInfos.oppointmentTimeStart"
											   onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'oppointmentTimeEnd\')}',dateFmt:'yyyy-MM-dd',readOnly:true})" />
										至
										<input type="text" id="oppointmentTimeEnd" style="width: 130px;" ng-model="searchInfos.oppointmentTimeEnd"
											   onFocus="WdatePicker({minDate:'#F{$dp.$D(\'oppointmentTimeStart\')}',dateFmt:'yyyy-MM-dd',readOnly:true})" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="createTimeStart">
										下单时间段
									</label>
									<div class="col-sm-9">
										<input type="text" id="createTimeStart" style="width: 130px;" ng-model="searchInfos.createTimeStart"
											   onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'createTimeEnd\')||\'%y-%M-%d %H:%m\'}',dateFmt:'yyyy-MM-dd HH:mm',readOnly:true})" />
										至
										<input type="text" id="createTimeEnd" style="width: 130px;" ng-model="searchInfos.createTimeEnd"
											   onFocus="WdatePicker({minDate:'#F{$dp.$D(\'createTimeStart\')}',maxDate:'%y-%M-%d %H:%m',dateFmt:'yyyy-MM-dd HH:mm',readOnly:true})" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="districtId">
										医院城市
									</label>
									<div class="col-sm-9">
										<select id="districtId" class="form-control" ng-model="searchInfos.districtId"
												ng-options="district.uuid as district.name for district in districts">
											<option value="">全部</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="doctor">
										医生姓名
									</label>
									<div class="col-sm-9">
										<input type="text" id="doctor" class="form-control" ng-model="searchInfos.doctorName" maxlength="11">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="bdName">
										BD人员
									</label>
									<div class="col-sm-9">
										<input type="text" id="bdName" class="form-control" ng-model="searchInfos.bdName" maxlength="11">
									</div>
								</div>
								<!--/-->

							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="clear()">清空条件</button>
						<button class="btn btn-primary" ng-click="cancel($event)">取消</button>
						<button class="btn btn-primary" ng-click="ok($event)">确定</button>
					</div>
				</script>
				<!-- zw-申请加号-编辑-->
				<script type="text/ng-template" id="editJdOrderPlus.html">
					<div class="modal-header">
						<h5 class="modal-title"><b>申请放号</b></h5>
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form role="form" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-6">
										姓名：{{jdOrderPlusInfo.name}}
									</label>
									<label class="col-sm-6">
										手机号：{{jdOrderPlusInfo.phoneNumber}}
									</label>
								</div>
								<div class="form-group">
									<label class="col-sm-6">
										身份证：{{jdOrderPlusInfo.idCard}}
									</label>
									<label class="col-sm-3">
										性别：{{jdOrderPlusInfo.gender}}
									</label>
									<label class="col-sm-3">
										年龄：{{jdOrderPlusInfo.age}}
									</label>
								</div>
								<div class="form-group">
									<label class="col-sm-11">
										预约时间：{{jdOrderPlusInfo2.orderDate}}
									</label>
								</div>
								<div class="form-group">
									<label class="col-sm-11">
										病情描述：{{jdOrderPlusInfo.sickDescription}}
									</label>
								</div>
								<div class="form-group" ng-if="jdOrderPlusInfo.status=='WAITTO_PAY'">
									<label class="col-sm-11">
										状态：待付款
									</label>
								</div>
								<div class="form-group" ng-if="jdOrderPlusInfo.status=='NO_PAY'">
									<label class="col-sm-11">
										状态：未付款
									</label>
								</div>
								<div class="form-group" ng-if="jdOrderPlusInfo.status!='WAITTO_PAY'&&jdOrderPlusInfo.status!='NO_PAY'">
									<label class="col-sm-3 control-label" for="edit_status">
										状态
									</label>
									<div class="col-sm-8">
										<select id="edit_status" class="form-control" ng-model="jdOrderPlusInfo.status"
												ng-options="status.value as status.name for status in orderPlusStatus">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" for="remark">
										备注
									</label>
									<div class="col-sm-8">
										<textarea class="form-control" ng-model="jdOrderPlusInfo.remark" id="remark" maxlength="250"></textarea>
									</div>
								</div>
								<div class="form-group" ng-if="jdOrderPlusInfo.status!='WAITTO_PAY'&&jdOrderPlusInfo.status!='NO_PAY'">
									<label class="col-sm-3 control-label">
										返还保证金
									</label>
									<div class="col-sm-8" ng-if="jdOrderPlusInfo2.refund!='Y'">
										<div class="radio clip-radio radio-primary radio-inline">
											<input type="radio" id="yes" ng-model="jdOrderPlusInfo.refund" value="Y">
											<label for="yes">是</label>
										</div>
										<div class="radio clip-radio radio-primary radio-inline">
											<input type="radio" id="no" ng-model="jdOrderPlusInfo.refund" value="N">
											<label for="no">否</label>
										</div>
									</div>
									<div class="col-sm-8" ng-if="jdOrderPlusInfo2.refund=='Y'" style="margin-top: 7px;">
										已返还
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="cancel($event)">取消</button>
						<button class="btn btn-primary" ng-click="ok($event)">确定</button>
					</div>
				</script>
            </div>
        </div>
    </div>
</div>