<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div ng-controller="JdWechatKeyWordCtrl" class="col-md-12">
            <button ng-click="edit()" type="button" class="btn btn-wide btn-primary" style="min-width: 30px;">
                新增 <i class="fa fa-plus"></i>
            </button>
            <button ng-click="update()" type="button" class="btn btn-wide btn-warning" style="min-width: 30px;">
                编辑 <i class="fa fa-edit"></i>
            </button>
            <button ng-click="deleteAll()" type="button" class="btn btn-wide btn-danger" style="min-width: 30px;">
                删除 <i class="fa fa-trash"></i>
            </button>
            <button ng-click="search()" type="button" class="btn btn-wide btn-success" style="min-width: 30px;">
                查询 <i class="fa fa-search"></i>
            </button>
            <p style="margin-top:25px;">
                <strong>总记录数:</strong> {{tableParams.total()}}
            </p>
            <div class="table-responsive" style="margin-top:25px;">
                <table ng-table="tableParams" class="table table-hover">
                    <thead>
                    <tr>
                        <th style="text-align:left;width:6%;">
                            <div class="checkbox clip-check check-primary checkbox-inline">
                                <input id="selectAllCheckbox" type="checkbox" ng-click="selectAll()"/>
                                <label for="selectAllCheckbox" style="vertical-align: middle;"></label>
                            </div>
                        </th>
                        <th>关键字</th>
                        <th>自动回复</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="jdWechatKeyWord in $data" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td>
                            <div class="checkbox clip-check check-primary checkbox-inline">
                                <input id="checkbox{{jdWechatKeyWord.uuid}}" type="checkbox" ng-model="jdWechatKeyWord.selected" ng-click="changeSelection($index)"/>
                                <label for="checkbox{{jdWechatKeyWord.uuid}}" style="vertical-align: middle;"></label>
                            </div>
                        </td>
                        <td class="center">{{jdWechatKeyWord.keyWord}}</td>
                        <td class="center">{{jdWechatKeyWord.description}}</td>
                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" ng-click="edit(jdWechatKeyWord)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="编辑"><i
                                        class="fa fa-edit"></i></a>
                                <a href="#" ng-click="deleteItem(jdWechatKeyWord.uuid)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="删除"><i
                                        class="fa fa-trash fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group" dropdown is-open="status.isopen">
                                    <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                        <li>
                                            <a href="#" ng-click="edit(jdWechatKeyWord)">编辑</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="deleteItem(jdWechatKeyWord.uuid)">删除</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <script type="text/ng-template" id="searchJdWechatKeyWord.html">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>查询条件</b></h5>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="s_name">
                                        关键字
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="s_name" class="form-control" ng-model="searchInfos.keyWord" maxlength="15">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="clear()">清空条件</button>
                        <button class="btn btn-primary" ng-click="cancel($event)">取消</button>
                        <button class="btn btn-primary" ng-click="ok($event)">确定</button>
                    </div>
                </script>

                <script type="text/ng-template" id="editJdWechatKeyWord.html">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>自动回复配置</b></h5>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="name">
                                        关键字
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="name" class="form-control" ng-model="jdWechatKeyWordInfo.keyWord">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="description">
                                        自动回复
                                    </label>
                                    <div class="col-sm-8">
                                        <textarea id="description" rows="10" ng-model="jdWechatKeyWordInfo.description" class="form-control" maxlength="1020"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="cancel($event)">取消</button>
                        <button class="btn btn-primary" ng-click="ok($event)">确定</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>