<!--聊天内容窗口-->
<div id=rong-conversation class="rongcloud-kefuChatBox rongcloud-both rongcloud-am-fade-and-slide-top" ng-show=showSelf ng-class="{'rongcloud-fullScreen':resoures.fullScreen}">
	<evaluatedir type=evaluate.type display=evaluate.showSelf confirm=evaluate.onConfirm(data) cancle=evaluate.onCancle()></evaluatedir>
	<div class=rongcloud-kefuChat>
		<div id=header class="rongcloud-rong-header rongcloud-blueBg rongcloud-online">
			<div class="rongcloud-infoBar rongcloud-pull-left">
				<div class=rongcloud-infoBarTit><span class=rongcloud-kefuName ng-bind=conversation.title></span></div>
			</div>
		</div>
		<div class=rongcloud-outlineBox ng-hide=data.connectionState>
			<div class=rongcloud-sprite></div><span>连接断开,请刷新重连</span></div>
		<div id=Messages>
			<button class="pdiBottom_chatcontTopFile">2个患者档案</button>
			<div class=rongcloud-emptyBox>暂时没有新消息</div>
			<div class=rongcloud-MessagesInner>
				<div ng-repeat="item in messageList" ng-switch=item.panelType>
					<div class=rongcloud-Messages-date ng-switch-when=104><b>{{item.sentTime|historyTime}}</b></div>
					<div class=rongcloud-Messages-history ng-switch-when=105><b ng-click=getHistory()>查看历史消息</b></div>
					<div class=rongcloud-Messages-history ng-switch-when=106><b ng-click=getMoreMessage()>获取更多消息</b></div>
					<div class=rongcloud-sys-tips ng-switch-when=2><span ng-bind-html=item.content.content|trustHtml></span></div>
					<div class=rongcloud-Message ng-switch-when=1>
						<div class=rongcloud-Messages-unreadLine></div>
						
						
						<div>
							<div class=rongcloud-Message-header>
								<img class="rongcloud-img rongcloud-u-isActionable rongcloud-Message-avatar rongcloud-avatar" ng-src={{item.content.userInfo.portraitUri||item.content.userInfo.icon}} err-src=http://7xo1cb.com1.z0.glb.clouddn.com/rongcloudkefu2.png errsrcserasdfasdfasdfa alt="">
								<div class="rongcloud-Message-author rongcloud-clearfix">
									<a class="rongcloud-author rongcloud-u-isActionable">{{item.content.userInfo.name}}</a>
								</div>
							</div>
						</div>
						
						<!--自定义-->
						<div class={{item.senderUserId==config.doctorId?"pdiBottom_doctorBox":"pdiBottom_patientBox"}} ng-class="{'clearfix':1}">
				            <img src="assets/images/avatar-7.jpg" class="pdiBottom_headingImg"/>
				            <div class="pdiBottom_chatRecordCont">
				        
						
						
						
								<div class=rongcloud-Message-body ng-switch=item.messageType>
									<textmessage ng-switch-when=TextMessage msg=item.content></textmessage>
									<imagemessage ng-switch-when=ImageMessage msg=item.content></imagemessage>
									<voicemessage ng-switch-when=VoiceMessage msg=item.content></voicemessage>
									<locationmessage ng-switch-when=LocationMessage msg=item.content></locationmessage>
									<richcontentmessage ng-switch-when=RichContentMessage msg=item.content></richcontentmessage>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div id=footer class=rongcloud-rong-footer style="display: block">
			<div class="expireStatus"></div>
			<div class=rongcloud-footer-con>
				<div class=rongcloud-text-layout>
					<div id=funcPanel class="rongcloud-funcPanel rongcloud-robotMode">
						<div class=rongcloud-mode1 ng-show="_inputPanelState==0">
							<div class=rongcloud-MessageForm-tool id=expressionWrap><i class="rongcloud-sprite rongcloud-iconfont-smile" ng-click="showemoji=!showemoji"></i>
								<div class=rongcloud-expressionWrap ng-show=showemoji><i class=rongcloud-arrow></i>
									<emoji ng-repeat="item in emojiList" item=item content=conversation></emoji>
								</div>
							</div>
							<div class=rongcloud-MessageForm-tool><i class="rongcloud-sprite rongcloud-iconfont-upload" id=upload-file style="position: relative; z-index: 1"></i></div>
						</div>
						<div class=rongcloud-mode2 ng-show="_inputPanelState==2">
							<a ng-click=switchPerson() id=chatSwitch class=rongcloud-chatSwitch>转人工服务</a>
						</div>
					</div><pre id=inputMsg class="rongcloud-text rongcloud-grey" contenteditable contenteditable-dire ng-focus="showemoji=fase" style="background-color: rgba(0,0,0,0);color:black" ctrl-enter-keys fun=send() ctrlenter=false placeholder=请输入文字... ondrop="return false" ng-model=conversation.messageContent></pre></div>
				<div class=rongcloud-powBox><button type=button style="background-color: #0099ff" class="rongcloud-rong-btn rongcloud-rong-send-btn" id=rong-sendBtn ng-click=send()>发送</button>
					<div  style="background-color: #0099ff;right:94px;text-align:center" class="rongcloud-rong-btn rongcloud-rong-send-btn">插入图片
						<input type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" accept="image/jpeg,image/gif,image/png,image/bmp"/>
					</div>
			</div>
		</div>
	</div>
</div>




<!--对话列表窗口-->
<div id=rong-conversation-list class="rongcloud-kefuListBox rongcloud-both">
	<div class="pdiBottom_chatlistBottom">共9个患者</div>
	<div class=rongcloud-kefuList>
		<div class="rongcloud-rong-header rongcloud-blueBg">
			<div class="rongcloud-toolBar rongcloud-headBtn">
				<span class=glyphicon glyphicon-search pdiBottom_searchBtn></span>
				<div ng-show=config.voiceNotification class=rongcloud-voice ng-class="{'rongcloud-voice-mute':!data.voiceSound,'rongcloud-voice-sound':data.voiceSound}" ng-click="data.voiceSound=!data.voiceSound"></div>
				<span class=rongcloud-recent>患者对话列表</span>
			</div>
		</div>
		<div class=rongcloud-content>
			<div class=rongcloud-netStatus ng-hide=data.connectionState>
				<div class=rongcloud-sprite></div><span>连接断开,请刷新重连</span></div>
			<div>
				<conversation-item ng-repeat="item in conversationListServer._conversationList" item=item></conversation-item>
			</div>
		</div>
	</div>
</div>





<div class=rongcloud-layermbox ng-show=display>
	<div class=rongcloud-laymshade></div>
	<div class=rongcloud-layermmain>
		<div class=rongcloud-section>
			<div class=rongcloud-layermchild ng-show=!end>
				<div class=rongcloud-layermcont>
					<div class=rongcloud-type1 ng-show="type==1">
						<h4>&nbsp;评价客服</h4>
						<div class=rongcloud-layerPanel1>
							<div class=rongcloud-star><span ng-repeat="item in stars track by $index"><span ng-class="{'rongcloud-star-on':$index<data.stars,'rongcloud-star-off':$index>=data.stars}" ng-click=confirm($index+1) ng-mouseenter=mousehover($index+1) ng-mouseleave=mousehover(0)></span></span>
							</div>
						</div>
					</div>
					<div class=rongcloud-type2 ng-show="type==2">
						<h4>&nbsp;&nbsp;机器人是否解决了您的问题 ？</h4>
						<div class=rongcloud-layerPanel1>
							<a class="rongcloud-rong-btn rongcloud-btnY" ng-class="{'rongcloud-cur':data.value===true}" href=javascript:void(0); ng-click=confirm(true)>是</a>
							<a class="rongcloud-rong-btn rongcloud-btnN" ng-class="{'rongcloud-cur':data.value===false}" href=javascript:void(0); ng-click=confirm(false)>否</a>
						</div>
					</div>
					<div class=rongcloud-layerPanel2 ng-show=displayDescribe>
						<p>是否有以下情况 ？</p>
						<div class=rongcloud-labels><span ng-repeat="item in labels"><a class=rongcloud-rong-btn ng-class="{'rongcloud-cur':item.selected}" ng-click="item.selected=!item.selected" href="">{{item.display}}</a></span></div>
						<div class=rongcloud-suggestBox><textarea name="" placeholder=欢迎给我们的服务提建议~ ng-model=data.describe></textarea></div>
						<div class=rongcloud-subBox>
							<a class=rongcloud-rong-btn href="" ng-click=commit()>提交评价</a>
						</div>
					</div>
				</div>
				<div class=rongcloud-layermbtn><span ng-click=confirm()>跳过</span><span ng-click=cancle()>取消</span></div>
			</div>
			<div class="rongcloud-layermchild rongcloud-feedback" ng-show=end>
				<div class=rongcloud-layermcont>感谢您的反馈 ^ - ^ ！</div>
			</div>
		</div>
	</div>
</div>




<!--总窗口-->
<div id=rong-widget-box class=rongcloud-container>
	<div ng-show=main.display>
		<rong-conversation></rong-conversation>
		<rong-conversation-list></rong-conversation-list>
	</div>
	<div id=rong-widget-minbtn class="rongcloud-kefuBtnBox rongcloud-blueBg" ng-show=!main.display&&config.displayMinButton ng-click=showbtn()>
		<a class=rongcloud-kefuBtn href="javascript: void(0);">
			<div class="rongcloud-sprite rongcloud-people"></div><span class=rongcloud-recent ng-show="!data.totalUnreadCount||data.totalUnreadCount==0">{{config.reminder||"最近联系人"}}</span> <span class=rongcloud-recent ng-show="data.totalUnreadCount>0"><span ng-show=twinkle>(有未读消息)</span></span>
		</a>
	</div>
	<div id=rong-widget-minbtn-kefu class="rongcloud-kefuBtnBox rongcloud-blueBg" ng-show=!main.display&&config.displayMinButton ng-click=showbtn()>
		<a class=rongcloud-kefuBtn href="javascript: void(0);">
			<div class="rongcloud-sprite rongcloud-people rongcloud-sprite-kefu"></div><span class=rongcloud-recent>{{config.reminder||"联系客服"}}</span></a>
	</div>
	<audio id=rongcloud-playsound style="width: 0px;height: 0px;display: none" src="" controls></audio>
</div>