<div ng-controller="privateDoctorImCtrl" class="pdiBox">
	<script src="assets/js/controllers/healthmanagement/RongIMLib-2.2.5.min.js" type="text/javascript" charset="utf-8"></script>
	<div class="pdiTop">
		<img src="assets/images/logo.jpg" class="pdiTop_img"/>
	</div>
	<div class="pdiBottom clearfix">
		<!--左边-->
		<div class="pdiBottom_chatlist">
			<div class="pdiBottom_chatlistTop">
				
				<div class="pdiBottom_chatlistTitle">
					<span class="glyphicon glyphicon-search pdiBottom_searchBtn" ng-click="openSearch()"></span>
					<div class="pdiBottom_chatlistTitleName">患者对话列表</div>
					<div class="pdiBottom_searchCont" ng-show="ShowSearch">
						<div>
							<label for="pdiBottom_searchContTell">手机号：<input type="text" id="pdiBottom_searchContTell"/></label>
						</div>
						<div class="pdiBottom_searchCont2">
							<label for="pdiBottom_searchContNickname">昵称：<input type="text" id="pdiBottom_searchContNickname"/></label>
						</div>
						<div class="pdiBottom_searchContBtnBox">
							<button ng-click="openSearch()">取消</button>
							<button ng-click="openSearch()">查询</button>
						</div>
					</div>
				</div>
				
				<div class="pdiBottom_chatlistCont">
					<!--单个对话列表-->
					<div class={{hadClicked==item.name?"active":""}} ng-class="{'pdiBottom_chatlistContBox':1}" ng-repeat="item in userList" ng-click="handleClick(item)">
						<div>
							<span class={{item.hadRead?"":"pdi_circle"}}></span>
							<span class="pdiBottom_chatlistCont_name">{{item.name}}</span>
							<span class="pdiBottom_chatlistCont_tel">{{item.tel}}</span>
							<!--<span class="pdiBottom_chatlistCont_tag" ng-repeat="items in item.tags">{{items}}</span>-->
						</div>
						<div class="pdiBottom_chatlistContBox2">{{item.content}}</div>
						<div class="text-right">{{item.time}}</div>
					</div>
					
				</div>
			</div>
			<div class="pdiBottom_chatlistBottom">共9个患者</div>
		</div>
		
		
		<!--右边-->
		<div class="pdiBottom_chatcont">
			<div class="pdiBottom_chatcontTop">
				<button class="pdiBottom_chatcontTopFile">2个患者档案</button>
				<!--聊天内容-->
				<div class="pdiBottom_chatRecord">
					<!--聊天记录 -->
					<div class="pdiBottom_chatRecord_history">
						<span class="glyphicon glyphicon-time"> 查看更多消息</span>
					</div>
					
					<!--时间-->
					<div class="pdiBottom_chatRecord_time">
						<span>07月18日 15:52</span>
					</div>
					
					<div class="pdiBottom_patientBox clearfix">
						<img src="assets/images/avatar-7.jpg" class="pdiBottom_headingImg"/>
						<div class="pdiBottom_chatRecordCont">医生你好，我来报到了。有效期至2018年2月4日。</div>
					</div>
					
					<div class="pdiBottom_patientBox clearfix">
						<img src="assets/images/avatar-7.jpg" class="pdiBottom_headingImg"/>
						<div class="pdiBottom_chatRecordCont">医生你好，我来报到了。有效期至2018年2月4日。</div>
					</div>
					
					<div class="pdiBottom_patientBox clearfix">
						<img src="assets/images/avatar-7.jpg" class="pdiBottom_headingImg"/>
						<div class="pdiBottom_chatRecordCont">你好
							<img src="assets/images/logo3.png" class="pdiBottom_chatRecordContImg" ng-click="showImg('assets/images/logo3.png')"/>
						</div>
					</div>
					
					<div class="pdiBottom_doctorBox clearfix">
						<img src="assets/images/avatar-7.jpg" class="pdiBottom_headingImg"/>
						<div class="pdiBottom_chatRecordCont">我是医生
							<img src="assets/images/logo3.png" class="pdiBottom_chatRecordContImg"/>
						</div>
					</div>
					
					<div class="pdiBottom_doctorBox clearfix">
						<img src="assets/images/avatar-7.jpg" class="pdiBottom_headingImg"/>
						<div class="pdiBottom_chatRecordCont">我是医生
							<img src="assets/images/logo3.png" class="pdiBottom_chatRecordContImg"/>
						</div>
					</div>
					
					
					
				</div>
			</div>
			
			
			<div class="pdiBottom_chatcontBottom">
				<textarea class="pdiBottom_chatcontBottomValue"></textarea>
				<div class="pdiBottom_chatcontBottomBtn">
					<button>
						<span>插入图片</span>
						<input type="file" class="pdiBottom_uploadImg"/>
					</button>
					<button>发送</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="pdiShowImage.html">
		<div class="text-center padding-10">
			<img src={{showImgUrl}} />
		</div>
	</script>
</div>
