<script
	src="../../../assets/js/controllers/healthmanage/healthServiceApis.js"></script>
<script
	src="../../../assets/js/controllers/common/selectMemberManage.js"></script>
<script src="../../../vendor/flow/ng-flow-standalone.min.js"
	type="text/javascript" charset="utf-8"></script>
 <script
	src="../../../assets/js/controllers/common/openPatientArchiveModel.js"></script>
<script
	src="../../../assets/js/controllers/common/selectPatientArchive.js"></script>
	

<div ng-controller="privateDoctorImCtrl" class="pdiBox z-index-1000">
	<img src="assets/images/logo.jpg" class="pdiTop_img margin-top-5" />
	<div style="position: relative;">
		<span class="glyphicon glyphicon-search pdiBottom_searchBtn" ng-click="selectMemberManage()"></span>
		<rong-widget></rong-widget>
	</div>
	<script type="text/ng-template" id="pdiShowImage.html">
		<div class="text-center padding-10">
			<img src={{showImgUrl}} class="pdiBigImg"/>
		</div>
	</script>

</div>
