<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>感恩橙医生 橙意贺新春</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<script src="../static/js/app/rem.js"></script>
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script type="text/javascript" src="../static/js/libs/requirejs/require.js" defer asyn="true" data-main="../static/js/app"></script>
</head>
<body>
		<div class="monkey_bg monkey_bg3">
			<h1 class="logo"><img src="../static/images/logo.png" alt=""></h1>
			<h2 class="title"><img src="../static/images/title2.png" alt=""></h2>
			<div class="share"></div>
			<div class="orcode">
				<img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/code.png" alt="">
			</div>
			<div class="attent_btn clearfix">
				<a href="popularlist2.html" class="fl"></a>
				<a href="patientsRules.html" class="fr"></a>
			</div>

		</div>
</body>
</html>