<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>感恩橙医生 橙意贺新春</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<script src="../static/js/app/rem.js"></script>
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script type="text/javascript" src="../static/js/libs/requirejs/require.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
	<script>
		require(['index'],function(s){
			s.location();
		});
	</script>
</head>
<body>
		<div class="monkey_bg">
			<h1 class="logo"><img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/logo.png" alt=""></h1>
			<h2 class="title"><img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/title.png" alt=""></h2>
			<a href="javascript:void(0)" class="btn star" id="star"></a>
			<a href="patientsRules.html" class="btn rule"></a>
		</div>
</body>

</html>