<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>活动规则</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<script src="../static/js/app/rem.js"></script>
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="backgroundb29937">
	<div class="patients_rules pr">
		<div class="rules_title pa"></div>

		<div class="patientsRule"></div>

		<a href="javascript:void(0)" class="return_btn btn2" onClick="javascript :history.back(-1);">返回</a>

	</div>
</body>

</html>