<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>感恩橙医生 橙意贺新春</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<script src="../static/js/app/rem.js"></script>
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script type="text/javascript" src="../static/js/libs/requirejs/require.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
	<script>
		require(['selectBackground'],function(s){
			s.createCard();
			s.prompt_dialog_box();
		});
	</script>
</head>
<body>
	<div class="prompt_dialog_box" id="box">
		<div class="prompt_font pa top1"><img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/leftright.png" alt=""></div>
		<div class="left_right_gif pa top2"><img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/left.gif" alt=""></div>
		<div class="prompt_font2 pa top3"><img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/leftright2.png" alt=""></div>
		<div class="left_right_gif pa top4"><img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/left.gif" alt=""></div>
	</div>

	<div class="select_background_title pa"></div>
	<div class="background_style_wrap pr">
		<p class="select_background_titck pa">请左右滑动选择贺卡背景</p>
		<div class="swiper-container" id="swiper-bg">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<div class="background_style">
						<img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/bg1.jpg" alt="" getsrc="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/backgroundmap/bg1.png">
					</div>
				</div>

				<div class="swiper-slide">
					<div class="background_style">
						<img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/bg2.jpg" alt="" getsrc="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/backgroundmap/bg2.png">
					</div>
				</div>

				<div class="swiper-slide">
					<div class="background_style">
						<img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/bg3.jpg" alt="" getsrc="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/backgroundmap/bg3.png">
					</div>
				</div>

				<div class="swiper-slide">
					<div class="background_style">
						<img src="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/bg4.jpg" alt="" getsrc="http://cys-static-img.oss-cn-shenzhen.aliyuncs.com/greeting_card_img/backgroundmap/bg4.png">
					</div>
				</div>

			</div>

		</div>

	</div>

	<p class="select_background_titck2 pa">请左右滑动选择祝福语</p>

	<div class="these">

		<div class="swiper-container" id="swiper-wish">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish1.png" >财源滚滚，坐享其“橙”</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish2.png" >财源亨通，一举“橙”名</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish3.png" >福禄寿喜，儿女“橙”行</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish4.png" >福如东海，东“橙”西就</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish5.png" >富贵吉祥，功“橙”名就</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish6.png" >恭喜发财，事业有“橙”</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish7.png" >马到“橙”功，福寿安康</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish8.png" >人寿年丰，家“橙”业就</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish9.png" >寿与天齐，功“橙”行满</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish10.png" >万事大吉，水到渠“橙”</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish11.png" >万事如意，心想事“橙”</div>
				</div>

				<div class="swiper-slide">
					<div class="these_title" getsrc="../static/wishmap/wish12.png" >笑口常开，点石“橙”金</div>
				</div>

			</div>
		</div>


	</div>

	<div class="popular_btn clearfix">
		<a href="popularlist.html" class="fl popular_left btn2">人气医生榜</a>
		<a href="javascript:void(0)" class="fr popular_right btn2" id="createCard">确定生成</a>
	</div>


</body>
</html>